examples/line-broadcast-message-examples/line-broadcast-message-custom-message-format.json
[
    {
        "id": "db7ef35a51be43b3",
        "type": "tab",
        "label": "Example broadcast Message Custom Message Format",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0732e2a1bbf46cb0",
        "type": "inject",
        "z": "db7ef35a51be43b3",
        "name": "Send msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "messageType",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"text\",\"text\":\"This is broadcast message with emoji $$\",\"emojis\":[{\"index\":37,\"productId\":\"5ac1bfd5040ab15980c9b435\",\"emojiId\":\"009\"},{\"index\":38,\"productId\":\"5ac1bfd5040ab15980c9b435\",\"emojiId\":\"231\"}]}",
        "payloadType": "json",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "e3c777f0a46bc452"
            ]
        ]
    },
    {
        "id": "e3c777f0a46bc452",
        "type": "node-line-bot-broadcast-message",
        "z": "db7ef35a51be43b3",
        "name": "",
        "useExternalMessage": true,
        "hasMessage": true,
        "message": "Hi, I am broadcast message node 😊",
        "messageType": 0,
        "disabledNotification": false,
        "apiConfig": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "27856b66af6bada9"
            ]
        ]
    },
    {
        "id": "27856b66af6bada9",
        "type": "debug",
        "z": "db7ef35a51be43b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    }
]