examples/line-push-message-examples/line-push-message-normal-text.json
[
    {
        "id": "4ec41c6fc1b96927",
        "type": "tab",
        "label": "Example Push Message Normal Tex",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bea0f5d89d45ee76",
        "type": "node-line-bot-push-message",
        "z": "4ec41c6fc1b96927",
        "name": "",
        "useExternalMessage": true,
        "useExternalDestinationId": false,
        "hasDestinationId": true,
        "hasMessage": true,
        "message": "Hi, I am push message node 😊",
        "messageType": 0,
        "disabledNotification": false,
        "apiConfig": "",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "425b0052dcd8bc11"
            ]
        ]
    },
    {
        "id": "c639657092b5a37c",
        "type": "inject",
        "z": "4ec41c6fc1b96927",
        "name": "Send msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "messageType",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Normal Text Example 😊",
        "payloadType": "str",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "bea0f5d89d45ee76"
            ]
        ]
    },
    {
        "id": "425b0052dcd8bc11",
        "type": "debug",
        "z": "4ec41c6fc1b96927",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    }
]