examples/line-push-message-examples/line-push-message-destinationId.json
[
    {
        "id": "4ec41c6fc1b96927",
        "type": "tab",
        "label": "Example Push Message Destination ID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3bb04cfe06187a7",
        "type": "inject",
        "z": "4ec41c6fc1b96927",
        "name": "Send msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "messageType",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "destinationId",
                "v": "Input destination ID Here",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Push Message with destinationId",
        "payloadType": "str",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "8d6c4ccd1a68c587"
            ]
        ]
    },
    {
        "id": "8d6c4ccd1a68c587",
        "type": "node-line-bot-push-message",
        "z": "4ec41c6fc1b96927",
        "name": "",
        "useExternalMessage": true,
        "useExternalDestinationId": true,
        "hasDestinationId": false,
        "hasMessage": true,
        "message": "Hi, I am push message node 😊",
        "messageType": 0,
        "disabledNotification": false,
        "apiConfig": "",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "763ee9ac5f737275"
            ]
        ]
    },
    {
        "id": "763ee9ac5f737275",
        "type": "debug",
        "z": "4ec41c6fc1b96927",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 100,
        "wires": []
    }
]