examples/line-multicast-message-examples/line-multicast-message-custom-message-format.json
[
    {
        "id": "df8cb036812a5659",
        "type": "tab",
        "label": "Example Multicast Message Custom Message Format",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ed0949248c0242b",
        "type": "debug",
        "z": "df8cb036812a5659",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "5f2ec0ab16fe8fb2",
        "type": "node-line-bot-multicast-message",
        "z": "df8cb036812a5659",
        "name": "",
        "useExternalMessage": true,
        "useExternalDestinationId": true,
        "hasToken": true,
        "hasDestinationId": true,
        "hasMessage": true,
        "message": "Hi, I am multicast message node 😊",
        "messageType": 0,
        "disabledNotification": false,
        "credentials": {},
        "x": 410,
        "y": 200,
        "wires": [
            [
                "2ed0949248c0242b"
            ]
        ]
    },
    {
        "id": "e62649cd85282f33",
        "type": "function",
        "z": "df8cb036812a5659",
        "name": "send msg",
        "func": "msg.destinations = [\"Input destination ID\",\"Input destination ID\"];\nmsg.messageType = 1;\nmsg.payload = {\"type\":\"flex\",\"altText\":\"This is Custom Message Text example\",\"contents\":{\"type\":\"bubble\",\"size\":\"mega\",\"header\":{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"text\",\"text\":\"FROM\",\"color\":\"#ffffff66\",\"size\":\"sm\"},{\"type\":\"text\",\"text\":\"Akihabara\",\"color\":\"#ffffff\",\"size\":\"xl\",\"flex\":4,\"weight\":\"bold\"}]},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"text\",\"text\":\"TO\",\"color\":\"#ffffff66\",\"size\":\"sm\"},{\"type\":\"text\",\"text\":\"Shinjuku\",\"color\":\"#ffffff\",\"size\":\"xl\",\"flex\":4,\"weight\":\"bold\"}]}],\"paddingAll\":\"20px\",\"backgroundColor\":\"#0367D3\",\"spacing\":\"md\",\"height\":\"154px\",\"paddingTop\":\"22px\"},\"body\":{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"text\",\"text\":\"Total: 1 hour\",\"color\":\"#b7b7b7\",\"size\":\"xs\"},{\"type\":\"box\",\"layout\":\"horizontal\",\"contents\":[{\"type\":\"text\",\"text\":\"20:30\",\"size\":\"sm\",\"gravity\":\"center\"},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"filler\"},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[],\"cornerRadius\":\"30px\",\"height\":\"12px\",\"width\":\"12px\",\"borderColor\":\"#EF454D\",\"borderWidth\":\"2px\"},{\"type\":\"filler\"}],\"flex\":0},{\"type\":\"text\",\"text\":\"Akihabara\",\"gravity\":\"center\",\"flex\":4,\"size\":\"sm\"}],\"spacing\":\"lg\",\"cornerRadius\":\"30px\",\"margin\":\"xl\"},{\"type\":\"box\",\"layout\":\"horizontal\",\"contents\":[{\"type\":\"box\",\"layout\":\"baseline\",\"contents\":[{\"type\":\"filler\"}],\"flex\":1},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"box\",\"layout\":\"horizontal\",\"contents\":[{\"type\":\"filler\"},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[],\"width\":\"2px\",\"backgroundColor\":\"#B7B7B7\"},{\"type\":\"filler\"}],\"flex\":1}],\"width\":\"12px\"},{\"type\":\"text\",\"text\":\"Walk 4min\",\"gravity\":\"center\",\"flex\":4,\"size\":\"xs\",\"color\":\"#8c8c8c\"}],\"spacing\":\"lg\",\"height\":\"64px\"},{\"type\":\"box\",\"layout\":\"horizontal\",\"contents\":[{\"type\":\"box\",\"layout\":\"horizontal\",\"contents\":[{\"type\":\"text\",\"text\":\"20:34\",\"gravity\":\"center\",\"size\":\"sm\"}],\"flex\":1},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"filler\"},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[],\"cornerRadius\":\"30px\",\"width\":\"12px\",\"height\":\"12px\",\"borderWidth\":\"2px\",\"borderColor\":\"#6486E3\"},{\"type\":\"filler\"}],\"flex\":0},{\"type\":\"text\",\"text\":\"Ochanomizu\",\"gravity\":\"center\",\"flex\":4,\"size\":\"sm\"}],\"spacing\":\"lg\",\"cornerRadius\":\"30px\"},{\"type\":\"box\",\"layout\":\"horizontal\",\"contents\":[{\"type\":\"box\",\"layout\":\"baseline\",\"contents\":[{\"type\":\"filler\"}],\"flex\":1},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"box\",\"layout\":\"horizontal\",\"contents\":[{\"type\":\"filler\"},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[],\"width\":\"2px\",\"backgroundColor\":\"#6486E3\"},{\"type\":\"filler\"}],\"flex\":1}],\"width\":\"12px\"},{\"type\":\"text\",\"text\":\"Metro 1hr\",\"gravity\":\"center\",\"flex\":4,\"size\":\"xs\",\"color\":\"#8c8c8c\"}],\"spacing\":\"lg\",\"height\":\"64px\"},{\"type\":\"box\",\"layout\":\"horizontal\",\"contents\":[{\"type\":\"text\",\"text\":\"20:40\",\"gravity\":\"center\",\"size\":\"sm\"},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"filler\"},{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[],\"cornerRadius\":\"30px\",\"width\":\"12px\",\"height\":\"12px\",\"borderColor\":\"#6486E3\",\"borderWidth\":\"2px\"},{\"type\":\"filler\"}],\"flex\":0},{\"type\":\"text\",\"text\":\"Shinjuku\",\"gravity\":\"center\",\"flex\":4,\"size\":\"sm\"}],\"spacing\":\"lg\",\"cornerRadius\":\"30px\"}]}}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 200,
        "wires": [
            [
                "5f2ec0ab16fe8fb2"
            ]
        ]
    },
    {
        "id": "33ee180b1f2fc16b",
        "type": "inject",
        "z": "df8cb036812a5659",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "e62649cd85282f33"
            ]
        ]
    }
]