examples/line-multicast-message-examples/line-multicast-message-destinations.json
[
    {
        "id": "420e0e3e959c2347",
        "type": "tab",
        "label": "Example Multicast Message Send Destination ID List",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d81fdfef9ab8ff7",
        "type": "inject",
        "z": "420e0e3e959c2347",
        "name": "Func Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "480606a0d72de593"
            ]
        ]
    },
    {
        "id": "480606a0d72de593",
        "type": "function",
        "z": "420e0e3e959c2347",
        "name": "send msg",
        "func": "msg.destinations = [\"Specific destination ID here\",\"Specific destination ID here\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "b74edb3a639bef0f"
            ]
        ]
    },
    {
        "id": "b74edb3a639bef0f",
        "type": "node-line-bot-multicast-message",
        "z": "420e0e3e959c2347",
        "name": "",
        "useExternalMessage": false,
        "useExternalDestinationId": true,
        "hasDestinationId": false,
        "hasMessage": true,
        "message": "Hi, I am multicast message node 😊",
        "messageType": 0,
        "disabledNotification": false,
        "apiConfig": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "bfb5692c34507b43"
            ]
        ]
    },
    {
        "id": "bfb5692c34507b43",
        "type": "debug",
        "z": "420e0e3e959c2347",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    }
]