examples/line-reply-message-examples/line-reply-message-auto-reply-external-token.json
[
    {
        "id": "5b78f781aacaed8e",
        "type": "tab",
        "label": "Example Auto Reply Message external replyToken",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0a9f84090a866af",
        "type": "node-line-bot-webhook",
        "z": "5b78f781aacaed8e",
        "name": "",
        "webhookUrl": "/testwebhook",
        "apiConfig": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "1754046431b263b6"
            ]
        ]
    },
    {
        "id": "1754046431b263b6",
        "type": "function",
        "z": "5b78f781aacaed8e",
        "name": "fn Loop Message Events",
        "func": "const lineMessage = msg.payload;\nif (lineMessage.events && lineMessage.events.length > 0) {\n    lineMessage.events.forEach(event => {\n        const msgid = RED.util.generateId();\n        node.send({\n            _msgid: msgid,\n            replyToken: event.replyToken,\n            payload: event\n        });\n    });\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "d15c31961f44bc0f"
            ]
        ]
    },
    {
        "id": "d15c31961f44bc0f",
        "type": "node-line-bot-reply-message",
        "z": "5b78f781aacaed8e",
        "name": "",
        "useExternalMessage": false,
        "useExternalReplyToken": true,
        "hasReplyToken": false,
        "hasMessage": true,
        "message": "{\n    \"type\": \"sticker\",\n    \"packageId\": \"6325\",\n    \"stickerId\": \"10979924\"\n}",
        "messageType": "1",
        "disabledNotification": false,
        "apiConfig": "",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "3d6158347db71f38"
            ]
        ]
    },
    {
        "id": "3d6158347db71f38",
        "type": "debug",
        "z": "5b78f781aacaed8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    }
]