examples/line-reply-message-examples/line-reply-message-manual-reply-token.json
[
    {
        "id": "ef23cbdf656286e9",
        "type": "tab",
        "label": "Example Reply Message Manual Reply Token",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d91c2eec0e157cf",
        "type": "inject",
        "z": "ef23cbdf656286e9",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "f7316359c3a583f2"
            ]
        ]
    },
    {
        "id": "f7316359c3a583f2",
        "type": "node-line-bot-reply-message",
        "z": "ef23cbdf656286e9",
        "name": "",
        "useExternalMessage": false,
        "useExternalReplyToken": false,
        "hasReplyToken": true,
        "hasMessage": true,
        "message": "{\n    \"type\": \"sticker\",\n    \"packageId\": \"446\",\n    \"stickerId\": \"1988\"\n}",
        "messageType": "1",
        "disabledNotification": false,
        "apiConfig": "",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "cbfc4e10b9560dc8"
            ]
        ]
    },
    {
        "id": "cbfc4e10b9560dc8",
        "type": "debug",
        "z": "ef23cbdf656286e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 160,
        "wires": []
    }
]