examples/line-reply-message-examples/line-reply-message-auto-reply-external-token-and-message.json
[
    {
        "id": "f3bf2955e40ee33c",
        "type": "tab",
        "label": "Example Auto Reply Message external replyToken and message",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "accb65ab2c413a04",
        "type": "node-line-bot-webhook",
        "z": "f3bf2955e40ee33c",
        "name": "",
        "webhookUrl": "/testwebhook",
        "apiConfig": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "2b6a61fe7a86dfc8"
            ]
        ]
    },
    {
        "id": "2b6a61fe7a86dfc8",
        "type": "function",
        "z": "f3bf2955e40ee33c",
        "name": "fn Loop Message Events",
        "func": "const lineMessage = msg.payload;\nif (lineMessage.events && lineMessage.events.length > 0) {\n    lineMessage.events.forEach(event => {\n        const msgid = RED.util.generateId();\n        node.send({\n            _msgid: msgid,\n            replyToken: event.replyToken,\n            messageType: 1,\n            payload: {\"type\": \"sticker\", \"packageId\": \"6325\",\"stickerId\": \"10979914\"},\n        });\n    });\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "20eff60f1b78f746"
            ]
        ]
    },
    {
        "id": "20eff60f1b78f746",
        "type": "node-line-bot-reply-message",
        "z": "f3bf2955e40ee33c",
        "name": "",
        "useExternalMessage": true,
        "useExternalReplyToken": true,
        "hasReplyToken": false,
        "hasMessage": true,
        "message": "Hi, this is reply message 👌",
        "messageType": 0,
        "disabledNotification": false,
        "apiConfig": "",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "67bc9c6a6370e8bb"
            ]
        ]
    },
    {
        "id": "67bc9c6a6370e8bb",
        "type": "debug",
        "z": "f3bf2955e40ee33c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    }
]